.timeline {
  .timeline-container {
    border-left: 1px red solid;
    padding-left: 50px;
    padding-bottom: 50px;
    position: relative;
    background-color: inherit;
    width: 100%;

    &:last-of-type {
      padding-bottom: 0;
    }

    &::after {
      background: #fff;
      font-family: "simple-line-icons";
      font-size: 24px;
      color: $colorpink;
      position: absolute;
      left: -12px;
      top: 0;
      z-index: 1;
    }

    .content {
      .time {
        color: #8b88b1;
        font-size: 14px;
      }

      h3 {
        font-size: 20px;
        margin: 10px 0;
      }

      p {
        margin: 0;
      }
    }
  }

  &.edu .timeline-container::after {
    content: "\e019";
  }

  &.exp .timeline-container::after {
    content: "\e04b";
  }
}
