// body
$body-bg: #EEEEEE;
$body-color: #5E5C7F;

// text
$line-height-base: 1.7;
$font-family-base:  'Rubik', sans-serif;

// colors
$primary: #FF4C60;
$secondary: #8b88b1;

// buttons
$btn-border-radius: 2rem;
$btn-font-weight: 700;
$btn-padding-y: 0.5rem;
$btn-padding-x: 2rem;

// progress
$progress-height: 0.5rem;
$progress-border-radius: 0.75rem;

// utilities
$border-radius: 0.75rem;
$border-radius-lg: 1.5rem;